{% extends "base.html" %}
{% load static %}

{% block body %}
{% include "navbar.html" %}

<style>
  @import url(https://fonts.googleapis.com/css?family=Roboto:400,300,600,400italic);
#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea,
#contact button[type="submit"] {
font: 400 12px/16px "Roboto", Helvetica, Arial, sans-serif;
}

#contact {
background: #F9F9F9;
padding: 25px;
box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);

}

#contact h3 {
display: block;
font-size: 30px;
font-weight: 300;
margin-bottom: 10px;
}

#contact h4 {
margin: 5px 0 15px;
display: block;
font-size: 13px;
font-weight: 400;
}

fieldset {
border: medium none !important;
margin: 0 0 10px;
min-width: 100%;
padding: 0;
width: 100%;
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea {
width: 100%;
border: 1px solid #ccc;
background: #FFF;
margin: 0 0 5px;
padding: 10px;
}

#contact input[type="text"]:hover,
#contact input[type="email"]:hover,
#contact input[type="tel"]:hover,
#contact input[type="url"]:hover,
#contact textarea:hover {
-webkit-transition: border-color 0.3s ease-in-out;
-moz-transition: border-color 0.3s ease-in-out;
transition: border-color 0.3s ease-in-out;
border: 1px solid #aaa;
}

#contact textarea {
height: 100px;
max-width: 100%;
resize: none;
}

#contact button[type="submit"] {
cursor: pointer;
width: 100%;
border: none;
background: #E449AD;
color: #FFF;
margin: 0 0 5px;
padding: 10px;
font-size: 15px;
border-radius: 20px;
}

#contact button[type="submit"]:hover {
background: #bf2e8c;
-webkit-transition: background 0.3s ease-in-out;
-moz-transition: background 0.3s ease-in-out;
transition: background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active {
box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

.copyright {
text-align: center;
}

#contact input:focus,
#contact textarea:focus {
outline: 0;
border: 1px solid #aaa;
}

::-webkit-input-placeholder {
color: #888;
}

:-moz-placeholder {
color: #888;
}

::-moz-placeholder {
color: #888;
}

:-ms-input-placeholder {
color: #888;
}
</style>
	
	<section class="hero-wrap hero-wrap-2" style="background-image: url('{% static 'images/bg_2.jpg' %}');">
		<div class="overlay"></div>
		<div class="container">
			<div class="row no-gutters slider-text align-items-end justify-content-center">
				<div class="col-md-9 ftco-animate pb-5 text-center">
					<p class="breadcrumbs"><span class="mr-2"><a href="{% url 'homepage' %}">Home <i class="fa fa-chevron-right"></i></a></span> <span><a>Test Prep <i class="fa fa-chevron-right"></i></a></span> <span>GRE<i class="fa fa-chevron-right"></i></span></p>
					<h1 class="mb-0 bread">GRE Exam Overview</h1>
				</div>
			</div>
		</div>
	</section>

  <section class="ftco-section ftco-no-pt ftco-no-pb" id="sampleregistration">
    <div class="container" style="max-width: 1400px;">
      <div class="row">
        <div class="col-lg-8 ftco-animate py-md-5 mt-md-5">
          <img src="https://i.ibb.co/rHFCdW0/image-removebg-preview-38.png" alt="" style="max-width: 220px;"/>
          <h2 style="font-weight: 600; margin-top: 50px;">GRE Full-Form</h2>
          <p>Graduate Record Examination</p><hr>
          <h2 style="font-weight: 600; margin-top: 50px;">What is GRE Exam?</h2>
  <p style="justify-content: center; font-weight: 3300;">The GRE is a multiple-choice, computer-based, standardized exam that is often required for admission to graduate programs and graduate business programs (MBA) globally. GRE is one of the most commonly accepted exams by universities and colleges abroad for admissions to graduate programs.

Students who want to pursue a master’s, Ph.D., or MBA are also required to take the GRE General Test. In addition, students give the GRE exam to get a merit-based scholarship for grad school. Thousands of graduate schools across the world accept the GRE test score. Besides this, various law schools and business schools, and different departments within these institutions accept the GRE test scores.</p>
          
        </div> 
        <div class="col-lg-4 ftco-animate py-md-5 mt-md-5">
          <div class="container">  
            {% include 'registerform.html' %}
            <br>
            <br>
          </div>
        </div>
      </div>
    </div>
  </section>

	<section class="ftco-section bg-light">
		<div class="container">
			<div class="">
       
<section class="container" style="max-width: 1000px">
          <style>
            
            .video-container {
              position: relative;
              width: 100%;
              height: 0;
              padding-bottom: 56.25%; /* 16:9 aspect ratio */
              overflow: hidden;
            }
            
            .video-container video {
              position: absolute;
              top: 0;
              left: 0;
              border-radius: 50px;
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
            
            .video-container .overlay {
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              {% comment %} background-color: rgba(0, 0, 0, 0.4); {% endcomment %}
            }
            
            .video-container .play-button {
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              width: 80px;
              height: 80px;
              background-color: rgba(0, 0, 0, 0.4);
              border: none;
              border-radius: 50%;
              cursor: pointer;
              transition: all 0.3s ease-in-out;
            }
            .video-container .play-button.hidden {
              display: none;
            }
            
            .video-container .play-button::before {
              content: "";
              display: block;
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              width: 0;
              height: 0;
              border-style: solid;
              border-width: 20px 0 20px 40px;
              border-color: transparent transparent transparent white;
            }
            
            .video-container .play-button:hover {
              transform: translate(-50%, -50%) scale(1.2);
            }
            
            .video-container .text {
              position: absolute;
              bottom: 10%;
              left: 50%;
              transform: translateX(-50%);
              color: white;
              font-size: 24px;
              font-weight: bold;
              letter-spacing: 2px;
              text-align: center;
              opacity: 0;
              transition: all 0.3s ease-in-out;
            }
            
            .video-container:hover .play-button {
              transform: translate(-50%, -50%) scale(1.5);
            }
            
            .video-container:hover .text {
              opacity: 1;
            }
            
            
          </style>
          <div class="video-container">
            <video src="{% static 'video/exams/GRE.mp4' %}"  muted></video>
            <div class="overlay"></div>
            <div class="play-button"></div>
          </div>
          <script>
        
            const video = document.querySelector('video');
            const playButton = document.querySelector('.play-button');
            
            playButton.addEventListener('click', function() {
              if (video.paused) {
                video.play();
                playButton.classList.add('paused');
              } else {
                video.pause();
                playButton.classList.remove('paused');
              }
            });
            
            video.addEventListener('click', function() {
              if (video.paused) {
                video.play();
                playButton.classList.add('paused');
              } else {
                video.pause();
                playButton.classList.remove('paused');
              }
            });
            
            video.addEventListener('ended', function() {
              playButton.classList.remove('paused');
            });
            
            video.addEventListener('play', function() {
              playButton.classList.add('hidden');
            });
            
            video.addEventListener('pause', function() {
              playButton.classList.remove('hidden');
            });
            
        
          </script>
        </section>
        <div style="display: flex; justify-content: center;">
        <a href="#sampleregistration" type="submit" class="popup-button" style="width: 150px; background-color: #727FE9; color: white; ">Apply Now</a>
</div>

                <h2 style="font-weight: 600; margin-top: 50px;">Why GRE Exam is Required?</h2>
				<p style="justify-content: center; font-weight: 3300;">
The GRE is a standardised test for students who want to go to graduate school. Consider it similar to an ACT or SAT for graduate school applications. It assesses linguistic, mathematical, and analytical writing abilities. The GRE is the most generally needed and most commonly taken graduate school entrance exam. If you apply to graduate school, your GRE scores will most certainly be utilised as one of the factors admissions staff consider when determining if you'd be a suitable fit for their institution and programme.</p>
                        <div style="display: flex; justify-content: center;">
        <a href="#sampleregistration" type="submit" class="popup-button" style="width: 150px; background-color: #727FE9; color: white; ">Apply Now</a>
</div>
                <h2 style="font-weight: 600; margin-top: 50px;">GRE Exam Highlights 2023</h2>
                <section class="container" style=" max-width: 1200px;">
                    <table class="table table-striped" style="margin: auto; text-align: center;">
                        <tbody>
                          <tr>
                            <th scope="row">GRE full form</th>
                            <td >Graduate Record Examinations
                            </td>
                          </tr>
                          <tr>
                            <th scope="row">Official Website of IELTS</th>
                            <td>https://www.ets.org/gre
                            </td>
                          </tr>
                          <tr>
                            <th scope="row">Most popular for</th>
                            <td>MS courses in the USA</td>
                          </tr>
                          <tr>
                            <th scope="row">Also accepted for</th>
                            <td>MBA courses outside India</td>
                          </tr>
                          <tr>
                            <th scope="row">Conducted by</th>
                            <td>ETS (Educational Testing Service)</td>
                          </tr>
                          <tr>
                            <th scope="row">Mode of Exam</th>
                            <td>Computer-delivered test<br>Paper-delivered test<br>GRE at Home</td>
                          </tr>
                          <tr>
                            <th scope="row">GRE Fee</th>
                            <td>US $213</td>
                          </tr>
                          <tr>
                            <th scope="row">Score Range</th>
                            <td>Verbal Reasoning score range: 130–170<br>Quantitative Reasoning score range: 130–170<br>Analytical Writing score range: 0–6
                            </td>
                          </tr>
                          <tr>
                            <th scope="row">GRE Contact</th>
                            <td>+91-1244517127 or 000-800-100-4072<br>Monday–Friday, 9 a.m. to 5 p.m. IST<br>Email: GRESupport4India@ets.org</td>
                          </tr>
                          <tr>

                        </tbody>
                      </table>
                </section>
        <div style="display: flex; justify-content: center;">
        <a href="#sampleregistration" type="submit" class="popup-button" style="width: 150px; background-color: #727FE9; color: white; ">Apply Now</a>
</div>
                <h2 style="font-weight: 600; margin-top: 50px;">Types of GRE Exams</h2>
				<p style="justify-content: center; font-weight: 3300;">There are Two Types of GRE tests:<br>1. GRE General Test<br>2. GRE Subject Test.</p>
                
                <h2 style="font-weight: 600; margin-top: 50px;">What is GRE general test?</h2>
				<p style="justify-content: center; font-weight: 3300;">Students who desire to study for an MS degree in a variety of subjects overseas take the GRE General Test. A student's numeric aptitude, analytical writing ability, and verbal thinking abilities are tested in this test. The exam is given throughout the year, and students can take it whenever they like. In places where computer-delivered testing is not accessible, the paper-based GRE General Test is administered up to twice a year.<br>
        <span style="font-size: large; font-weight: bold;">The GRE General Test is offered in three different formats:<br></span>
        1. GRE Computer Based Test<br>2. GRE Paper Based Test<br>3. GRE at Home Test</p>
                        
                        <div style="display: flex; justify-content: center;">
        <a href="#sampleregistration" type="submit" class="popup-button" style="width: 150px; background-color: #727FE9; color: white; ">Apply Now</a>
</div>
                <h2 style="font-weight: 600; margin-top: 50px;">What is GRE Subject test?</h2>
				<p style="justify-content: center; font-weight: 3300;">The GRE Subject Test is designed to assess candidates' knowledge in a specific subject. The GRE Subject Test is administered in the months of September, October, and April, and it lasts 2 hours and 50 minutes. Physics, psychology, mathematics, literature (English), biochemistry, biology, and chemistry are all included in these exams. This test is generally necessary for entrance to specialised courses.<br><br>Candidates must appear for only one of the following subjects from the list below:
          <br>1. Chemistry<br>2. Mathematics<br>3. Physics<br>4. Psychology</p>
                        
                        <div style="display: flex; justify-content: center;">
        <a href="#sampleregistration" type="submit" class="popup-button" style="width: 150px; background-color: #727FE9; color: white; ">Apply Now</a>
</div>
                <h2 style="font-weight: 600; margin-top: 50px;">GRE general test vs subject test</h2>
				<p style="justify-content: center; font-weight: 3300;">Candidates can check the table below to understand how the GRE General Test differs from the GRE Subject Test.</p>

        <div style="display: flex; justify-content: center;">
        <a href="#sampleregistration" type="submit" class="popup-button" style="width: 150px; background-color: #727FE9; color: white; ">Apply Now</a>
</div>
        <h2 style="font-weight: 600; margin-top: 50px;">How to Prepare for GRE?</h2>
				<p style="justify-content: center; font-weight: 3300;">
        <ul>
            <li>There are two methods to prepare for the GRE: self-study and attending coaching programmes.</li><br>
            <li>If money is an issue, self-study is a preferable alternative. However, keep in mind that in order to study independently, you must have access to the most up-to-date preparation suggestions for each portion of the GRE exam.</li><br>
            <li>Coaching classes, on the other hand, are an excellent alternative if you don't have enough time and require expert supervision for test preparation. Your time will be better handled because attending lessons on a regular basis will become part of your habit.</li><br>     
        </ul>
        </p>    
                
                <section class="container" style=" max-width: 1200px;">
                    <table class="table table-striped" style="margin: auto; text-align: center;">
                        <thead>
                            <tr class="table-primary">
                              <th scope="col">Query</th>
                              <th scope="col">GRE GENERAL TEST</th>
                              <th scope="col">GRE SUBJECT TEST</th>
                            </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <th scope="row">Type of test</th>
                            <td >An aptitude eligibility test to seek admission in a B-school or a Masters abroad</td>
                            <td>Subject-based eligibility test to seek graduation or a post-graduation abroad in a specialized subject</td>
                          </tr>
                          <tr>
                            <th scope="row">Conducted</th>
                            <td>Computer-based center, or via a paper-delivered test</td>
                            <td>A paper-delivered test conducted thrice a year in the months of September, April, and October</td>
                          </tr>
                          <tr>
                            <th scope="row">Test </th>
                            <td >Overall aptitude test of Verbal Reasoning, Quantitative Reasoning, and Analytical Writing</td>
                            <td>ests conducted in various subjects - Mathematics, Physics, Chemistry, and Psychology</td>
                          </tr>
                          <tr>
                            <th scope="row">GRE  Test Duration</th>
                            <td>3hrs 45mins</td>
                            <td>2hrs 50mins</td>
                          </tr>
                          <tr>
                            <th scope="row">Scoring</th>
                            <td>260-340 score scale, in 1-point increment</td>
                            <td>200 to 990 score scale, in 10-point increments</td>
                          </tr>
                        </tbody>
                      </table>
                </section>
                        <div style="display: flex; justify-content: center;">
        <a href="#sampleregistration" type="submit" class="popup-button" style="width: 150px; background-color: #727FE9; color: white; ">Apply Now</a>
</div>

                <h2 style="font-weight: 600; margin-top: 50px;">When to apply for GRE?</h2>
				<p style="justify-content: center; font-weight: 3300;">There is some uncertainty about the best timing to take the GRE Exam. Candidates should be aware that both the GRE at Home and the GRE test at test centres are offered all year. Candidates who are unsure when they should take the GRE exam are recommended to register for the GRE exam once they have thoroughly studied for it. According to GRE experts, the best time to take the GRE exam is 60 to 90 days before the university application deadline. This manner, the candidates would have adequate time to retake the GRE test if necessary.</p>
                
                        <div style="display: flex; justify-content: center;">
        <a href="#sampleregistration" type="submit" class="popup-button" style="width: 150px; background-color: #727FE9; color: white; ">Apply Now</a>
</div>

                <h2 style="font-weight: 600; margin-top: 50px;">GRE Exam Fee</h2>
				<p style="justify-content: center; font-weight: 3300;">GRE form fees vary depending on your place of origin and the type of GRE test you choose to take. As a result, the GRE exam fees for the General and Subject examinations differ. While the cost of the GRE General Test differs depending on the applicant's region, the cost of the Subject Test is the same all across the world.<br><br>Candidates who wish to use additional services will have to pay an additional cost. Charges for special processing of service requests are shown below.</p><br>
                <h5 style="font-weight: 600; margin-top: 10px;">Exchange Rate: US $1 = INR74.45</h5><br>
                <section class="container" style=" max-width: 1200px;">
                  <table class="table table-striped" style="margin: auto; text-align: center;">
                      <thead>
                          <tr class="table-primary">
                            <th scope="col">GRE Services</th>
                            <th scope="col">GRE Exam Fee in INR</th>
                          </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <th scope="row">GRE General Test Fee</th>
                          <td>INR 15,857.70</td>
                        </tr>
                        <tr>
                          <th scope="row">GRE Subject Fee</th>
                          <td>INR 11,164.92.</td>
                        </tr>
                        <tr>
                          <th scope="row">GRE Reschedule Fee</th>
                          <td>INR 3,661</td>
                        </tr>
                        <tr>
                          <th scope="row">GRE Late Registration Fee</th>
                          <td>INR 1,830.50</td>
                        </tr>
                        <tr>
                          <th scope="row">GRE Standby testing Fee</th>
                          <td>INR 3,661</td>
                        </tr>
                        <tr>
                          <th scope="row">GRE Changing the test centre Fee</th>
                          <td>INR 3,661</td>
                        </tr>
                        <tr>
                          <th scope="row">GRE Subject Change Fee</th>
                          <td>INR 3,661</td>
                        </tr>
                      </tbody>
                    </table>
              </section>

                      <div style="display: flex; justify-content: center;">
        <a href="#sampleregistration" type="submit" class="popup-button" style="width: 150px; background-color: #727FE9; color: white; ">Apply Now</a>
</div>
                
                <h2 style="font-weight: 600; margin-top: 50px;">GRE Online Registration</h2>
                <img src="{% static 'images/test gre/table-gre-1.webp' %}" alt="" style="width: -webkit-fill-available;"/>
                
                <h5 style="font-weight: 600; margin-top: 50px;">To register for the GRE online, candidates must first complete the procedures outlined below.</h5>
                <ul>
                  <li>Candidates must register for an ETS account on the official website.</li>
                  <li>Choose whether they wish to take the GRE General or GRE Subject Test.</li>
                  <li>Choose the day for which they wish to take the GRE Exam and locate the nearest test centre.</li>
                  <li>Provide their academic information.</li>
                  <li>Proceed to pay the $213 registration cost.</li>
                </ul>
                <style>
                  .popup-button {
    display: block;
    width: 10rem;
    height: 3rem;
    text-align: center;
    text-decoration: none;
    font-weight: 800;
    font-size: 1em;
    border-radius: 50px;
    text-transform: uppercase;
    color: $white;
    border-radius: $border-rounded;
    margin: 10px;
    padding: 10px;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
    background-image: linear-gradient(to right, #895cf2 0%, #ffabf4 50%, #895cf2 100%);
    transition: 0.5s;
                  }
                  .popup-button:hover {
      background-position: right center;
    }
                </style>
                <div style="width: 100%; justify-content: center; display: flex;">
                <a href="" class="popup-button">Register Now</a></div>
                {% comment %} take button to register form for database collection {% endcomment %}




                <h2 style="font-weight: 600; margin-top: 50px;">GRE Exam Center</h2>
                <p style="justify-content: center; font-weight: 3300;">As most candidates are aware, the GRE General Test is offered at the GRE Test Centers listed below, as well as at home by selecting for the GRE at Home - which is the GRE General Test from the convenience of your own home. Candidates can view a list of GRE Test Centers in India collected by us for the convenience of our readers, which is provided below. Before reserving a GRE slot, candidates should verify the official GRE website or with the GRE test centres to ensure that the test centre is operational.</p>
                <img src="{% static 'images/test gre/city-icon-gre.png' %}" alt="" style="width: -webkit-fill-available;"/><br>
                <p style="justify-content: center; font-weight: 3300; align-items: center; text-align: center; padding-top: 10px; color: black;">Future Counselors is partnered with the leading universities in the United Kingdom, United States, Canada, Australia, Ireland, New Zealand and more, which guide you in every phase of the overseas education process..</p>
                <p style="justify-content: center; font-weight: 3300; align-items: center; text-align: center; padding-top: 10px; color: black;">For those who will take the GRE, Future Counselors wishes you the best of luck for the exam. And for those who don’t need to take it, congrats — one less worry on the way to your grad school dreams!</p>
                <div style="width: 100%; justify-content: center; display: flex;">
        <h2 style="font-weight: 600; margin-top: 50px; text-align: center;">Are You Planning to Take GRE Courses?<br>Contact Future Counselors, Meet Our Education Counselors. <br>Get FREE Education Counselling Today!</h2>
            </div>
                    <div style="display: flex; justify-content: center;">
        <a href="#sampleregistration" type="submit" class="popup-button" style="width: 150px; background-color: #727FE9; color: white; ">Apply Now</a>
</div>
                
            <div class="container " style="text-align: center">
<a href="{% static 'pdf/TR.pdf' %}" class="popup-button" style="width:100%; background-color: #727FE9; color: white; " download>Checkout the Tips & Tricks for GRE</a>
</div>
<br>
                

            </div>

	</section>

{% include "footer.html" %}
{% endblock body %}