{% extends "base.html" %}
{% load static %}

{% block body %}
{% include "navbar.html" %}

<style>
  @import url(https://fonts.googleapis.com/css?family=Roboto:400,300,600,400italic);
#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea,
#contact button[type="submit"] {
font: 400 12px/16px "Roboto", Helvetica, Arial, sans-serif;
}

#contact {
background: #F9F9F9;
padding: 25px;
box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);

}

#contact h3 {
display: block;
font-size: 30px;
font-weight: 300;
margin-bottom: 10px;
}

#contact h4 {
margin: 5px 0 15px;
display: block;
font-size: 13px;
font-weight: 400;
}

fieldset {
border: medium none !important;
margin: 0 0 10px;
min-width: 100%;
padding: 0;
width: 100%;
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea {
width: 100%;
border: 1px solid #ccc;
background: #FFF;
margin: 0 0 5px;
padding: 10px;
}

#contact input[type="text"]:hover,
#contact input[type="email"]:hover,
#contact input[type="tel"]:hover,
#contact input[type="url"]:hover,
#contact textarea:hover {
-webkit-transition: border-color 0.3s ease-in-out;
-moz-transition: border-color 0.3s ease-in-out;
transition: border-color 0.3s ease-in-out;
border: 1px solid #aaa;
}

#contact textarea {
height: 100px;
max-width: 100%;
resize: none;
}

#contact button[type="submit"] {
cursor: pointer;
width: 100%;
border: none;
background: #E449AD;
color: #FFF;
margin: 0 0 5px;
padding: 10px;
font-size: 15px;
border-radius: 20px;
}

#contact button[type="submit"]:hover {
background: #bf2e8c;
-webkit-transition: background 0.3s ease-in-out;
-moz-transition: background 0.3s ease-in-out;
transition: background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active {
box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

.copyright {
text-align: center;
}

#contact input:focus,
#contact textarea:focus {
outline: 0;
border: 1px solid #aaa;
}

::-webkit-input-placeholder {
color: #888;
}

:-moz-placeholder {
color: #888;
}

::-moz-placeholder {
color: #888;
}

:-ms-input-placeholder {
color: #888;
}
</style>

	
	<section class="hero-wrap hero-wrap-2" style="background-image: url('{% static 'images/bg_2.jpg' %}');">
		<div class="overlay"></div>
		<div class="container">
			<div class="row no-gutters slider-text align-items-end justify-content-center">
				<div class="col-md-9 ftco-animate pb-5 text-center">
					<p class="breadcrumbs"><span class="mr-2"><a href="{% url 'homepage' %}">Home <i class="fa fa-chevron-right"></i></a></span> <span><a>Test Prep <i class="fa fa-chevron-right"></i></a></span> <span>IELTS<i class="fa fa-chevron-right"></i></span></p>
					<h1 class="mb-0 bread">IELTS Exam Overview</h1>
				</div>
			</div>
		</div>
	</section>
  
  <section class="ftco-section ftco-no-pt ftco-no-pb" id="sampleregistration">
    <div class="container" style="max-width: 1400px;">
      <div class="row">
        <div class="col-lg-8 ftco-animate py-md-5 mt-md-5">
          <img src="https://i.ibb.co/gtjtxsb/image-removebg-preview-40.png" alt="" style="max-width: 320px;"/>
                <h2 style="font-weight: 600; margin-top: 50px;">IELTS Full-Form</h2>
                <p>International English Language Testing System</p><hr>
                <h2 style="font-weight: 600; margin-top: 50px;">What is IELTS Exam?</h2>
				<p style="justify-content: center; font-weight: 3300;">IELTS is an English language exam that must be taken by foreign applicants who want to study or work in a country where English is the primary language of communication. The UK, Australia, New Zealand, the United States, and Canada are the most common nations where IELTS is recognised for university applications. The exam primarily assesses the test taker's ability to communicate in the four core English language abilities of hearing, reading, speaking, and writing. IDP Education Australia and Cambridge English Language Assessment jointly own and administer the IELTS test.</p>    
        </div> 
        <div class="col-lg-4 ftco-animate py-md-5 mt-md-5">
          <div class="container">  
            {% include 'registerform.html' %}
            <br>
            <br>
          </div>
        </div>
      </div>
    </div>
  </section>

	<section class="ftco-section bg-light">
		<div class="container">
			<div class="">
        <br>
        <br>
        <section class="container" style="max-width: 1000px">
          <style>
            
            .video-container {
              position: relative;
              width: 100%;
              height: 0;
              padding-bottom: 56.25%; /* 16:9 aspect ratio */
              overflow: hidden;
            }
            
            .video-container video {
              position: absolute;
              top: 0;
              left: 0;
              border-radius: 50px;
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
            
            .video-container .overlay {
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              {% comment %} background-color: rgba(0, 0, 0, 0.4); {% endcomment %}
            }
            
            .video-container .play-button {
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              width: 80px;
              height: 80px;
              background-color: rgba(0, 0, 0, 0.4);
              border: none;
              border-radius: 50%;
              cursor: pointer;
              transition: all 0.3s ease-in-out;
            }
            .video-container .play-button.hidden {
              display: none;
            }
            
            .video-container .play-button::before {
              content: "";
              display: block;
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              width: 0;
              height: 0;
              border-style: solid;
              border-width: 20px 0 20px 40px;
              border-color: transparent transparent transparent white;
            }
            
            .video-container .play-button:hover {
              transform: translate(-50%, -50%) scale(1.2);
            }
            
            .video-container .text {
              position: absolute;
              bottom: 10%;
              left: 50%;
              transform: translateX(-50%);
              color: white;
              font-size: 24px;
              font-weight: bold;
              letter-spacing: 2px;
              text-align: center;
              opacity: 0;
              transition: all 0.3s ease-in-out;
            }
            
            .video-container:hover .play-button {
              transform: translate(-50%, -50%) scale(1.5);
            }
            
            .video-container:hover .text {
              opacity: 1;
            }
            
            
          </style>
          <div class="video-container">
            <video src="{% static 'video/exams/ielts.mp4' %}"  muted></video>
            <div class="overlay"></div>
            <div class="play-button"></div>
          </div>
          <script>
        
            const video = document.querySelector('video');
            const playButton = document.querySelector('.play-button');
            
            playButton.addEventListener('click', function() {
              if (video.paused) {
                video.play();
                playButton.classList.add('paused');
              } else {
                video.pause();
                playButton.classList.remove('paused');
              }
            });
            
            video.addEventListener('click', function() {
              if (video.paused) {
                video.play();
                playButton.classList.add('paused');
              } else {
                video.pause();
                playButton.classList.remove('paused');
              }
            });
            
            video.addEventListener('ended', function() {
              playButton.classList.remove('paused');
            });
            
            video.addEventListener('play', function() {
              playButton.classList.add('hidden');
            });
            
            video.addEventListener('pause', function() {
              playButton.classList.remove('hidden');
            });
            
        
          </script>
        </section>
        <div style="display: flex; justify-content: center;">
        <a href="#sampleregistration" type="submit" class="popup-button" style="width: 150px; background-color: #727FE9; color: white; ">Apply Now</a>
</div>


                <h2 style="font-weight: 600; margin-top: 50px;">Why IELTS Exam is required?</h2>
				<p style="justify-content: center; font-weight: 3300;">You may be aware that you need to get a specific IELTS score in order to pursue your employment or school goals, and you may be working toward that objective by preparing for the exam. But, have you considered some of the additional benefits of studying even more for the IELTS Academic test in order to boost your results? Here are our top five picks!</p>
                <ol>
                    <li><span class="font-weight-bold text-black">You will be given an objective evaluation of your English language skills.</span> Maybe your friends have told you that you speak English well, or maybe you consistently perform well in school tests. But do you truly understand your skill level? When you take an IELTS exam, you will be judged against the most stringent worldwide IELTS criteria.</li>
                    <li><span class="font-weight-bold text-black">You will receive a globally recognised certification.</span> By taking an IELTS exam, you will obtain a test record that is recognised and approved by thousands of institutions worldwide, including businesses, colleges, professional organisations, and government agencies.</li>
                    <li><span class="font-weight-bold text-black">You will enhance your command of the English language.</span> Some students prefer some talents over others. When you take an IELTS exam, you are assessed in all four abilities, namely listening, reading, writing, and speaking, thus you must practise them all if you want to perform well.</li>
                    <li><span class="font-weight-bold text-black">You will have a better understanding of the English that you require.</span> If you take the IELTS Academic test, you will have a better understanding of the language essential for undergraduate or postgraduate studies in English.</li>
                    <li><span class="font-weight-bold text-black">Because you'll have a clear objective, you'll be inspired to study harder.</span> If you don't have clear goals and objectives, it's quite simple to put off studying for another day. Taking an IELTS exam motivates you to study hard and improve your English.</li>
                </ol>

        <div style="display: flex; justify-content: center;">
        <a href="#sampleregistration" type="submit" class="popup-button" style="width: 150px; background-color: #727FE9; color: white; ">Apply Now</a>
</div>

                <h2 style="font-weight: 600; margin-top: 50px;">Types of IELTS Exam</h2>
				<p style="justify-content: center; font-weight: 3300;">IELTS examinations are divided into two types: Academic and General Training. The listening and speaking portions are the same for both examinations, however, the subject matter for the writing and reading sections varies depending on which test is taken. The IELTS Reading, Writing, and Listening portions are all performed on the same day of the exam, with no interruptions in between. The Speaking component, on the other hand, can be performed either a week before or after the other examinations. This information exam is available at your testing centre. </p>
                
                <h2 style="font-weight: 600; margin-top: 50px;">IELTS Academic Test</h2>
				<p style="justify-content: center; font-weight: 3300;">Those applying for further education or professional registration in another country must take IELTS Academic.</p>
                
                <h2 style="font-weight: 600; margin-top: 50px;">IELTS General Test</h2>
				<p style="justify-content: center; font-weight: 3300;">Those who intend to relocate to major English-speaking nations such as Canada, Australia, and the United Kingdom take the IELTS General Test. This exam is also taken by people who wish to participate in training programmes or secondary school, as well as those who wish to get work experience in a nation where English is the primary language of communication.</p>
                
                <h2 style="font-weight: 600; margin-top: 50px;">IELTS UKVI</h2>
				<p style="justify-content: center; font-weight: 3300;">This is comparable to IELTS. It is, nevertheless, a government-approved Secure English Language Test (SLET). The IELTS UKVI is required to demonstrate a candidate's command of the English language for UK visa and immigration purposes.</p>
                        <div style="display: flex; justify-content: center;">
        <a href="#sampleregistration" type="submit" class="popup-button" style="width: 150px; background-color: #727FE9; color: white; ">Apply Now</a>
</div>
                <h2 style="font-weight: 600; margin-top: 50px;">IELTS Academic vs General</h2>
                <section class="container" style=" max-width: 1200px;">
                    <table class="table table-striped" style="margin: auto; text-align: center;">
                        <thead>
                            <tr class="table-primary">
                              <th scope="col">IELTS Academic Test</th>
                              <th scope="col">IELTS General Test</th>
                            </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <th scope="row">It is chosen by students who want to further their education overseas.</th>
                            <td >It is chosen by those who desire to move to major English-speaking countries like as the United Kingdom, Canada, and Australia.
                            </td>
                          </tr>
                          <tr>
                            <th scope="row">It is required for admission to a professional institution or college.</th>
                            <td>It may be required for admission to a secondary institution, such as a high school. Individuals looking for work in another country can also take this test.
                            </td>
                          </tr>
                          <tr>
                            <th scope="row">The questions are created on the basis of a university level.</th>
                            <td>The questions are based on topics of broad interest.</td>
                          </tr>
                        </tbody>
                      </table>
                </section>
                       <div style="display: flex; justify-content: center;">
        <a href="#sampleregistration" type="submit" class="popup-button" style="width: 150px; background-color: #727FE9; color: white; ">Apply Now</a>
</div>
                <h2 style="font-weight: 600; margin-top: 50px;">IELTS Exam syllabus and Pattern</h2>
				<p style="justify-content: center; font-weight: 3300;">Candidates who want to do well in their IELTS test should thoroughly comprehend the IELTS Syllabus. The IELTS Syllabus is divided into four parts: reading, listening, speaking, and writing. Students are graded on these four components as well as their overall IELTS score. Aspirants demonstrate an understanding of how to approach each component of the IELTS. The total score is the sum of the four skill area scores. The entire test lasts 2 hours and 45 minutes.</p>
        <div style="display: flex; justify-content: center;">
        <a href="#sampleregistration" type="submit" class="popup-button" style="width: 150px; background-color: #727FE9; color: white; ">Apply Now</a>
</div>

                <h2 style="font-weight: 600; margin-top: 50px;">How to Prepare for IELTS?</h2>
                <ul>
                    <li>There are two methods to prepare for the IELTS: self-study and attending coaching programmes. Which path you take is determined on your degree of language competence and comfort. You do not need to attend coaching lessons if you are already fluent in English; you may prepare for the exam on your own. You only need to determine when you should begin preparing for IELTS.</li><br>
                    <li>Furthermore, if money is an issue, self-study is a preferable alternative. However, keep in mind that in order to study independently, you must have access to the most up-to-date preparation suggestions for each portion of the IELTS exam.</li><br>
                    <li>Coaching classes, on the other hand, are an excellent alternative if you don't have enough time and require expert supervision for test preparation. Your time will be better handled because attending lessons on a regular basis will become part of your habit.</li><br>
                </ul> 
        <h2 style="font-weight: 600; margin-top: 50px; text-align: center;">Are You Planning to Take IELTS Courses?<br>Contact Future Counselors, Meet Our Education Counselors. <br>Get FREE Education Counselling Today!</h2>
            </div>
                    <div style="display: flex; justify-content: center;">
        <a href="#sampleregistration" type="submit" class="popup-button" style="width: 150px; background-color: #727FE9; color: white; ">Apply Now</a>
</div>
            </div>
            <div class="container " style="text-align: center">
<a href="{% static 'pdf/TR.pdf' %}" class="popup-button" style="width:100%; background-color: #727FE9; color: white; " download>Checkout the Tips & Tricks for IELTS</a>
</div>
<br>
	</section>

{% include "footer.html" %}
{% endblock body %}