{% extends "base.html" %}
{% load static %}

{% block head %}
  <title>Our Services | Future Counselors</title>
	<meta name="description" content="Discover the comprehensive education overseas services offered by Future Counselors, including study abroad programs, application assistance, test preparation, and more. Our experienced counselors are dedicated to helping you achieve your academic and career goals.">
	<meta name="keywords" content="education overseas, study abroad, counseling services, application assistance, test preparation, Future Counselors, India">
	<link rel="canonical" href="https://www.futurecounselors.com/service">
	<meta name="robots" content="index,follow">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
{% endblock head %}



{% block body %}
{% include "navbar.html" %}

 <section class="hero-wrap hero-wrap-2" style="background-image: url('{% static 'images/service.jpg' %}');">
  <div class="overlay"></div>
  <div class="container">
    <div class="row no-gutters slider-text align-items-end justify-content-center">
      <div class="col-md-9 ftco-animate pb-5 text-center">
       <p class="breadcrumbs"><span class="mr-2"><a href="/">Home <i class="fa fa-chevron-right"></i></a></span><span>Service <i class="fa fa-chevron-right"></i></span></p>
       <h1 class="mb-0 bread">Our Services</h1>
     </div>
   </div>
 </div>
</section>

<section class="ftco-section bg-light">
 <div class="container">
  <div class="row">
   <div class="col-md-4 ftco-animate d-flex align-items-center align-items-stretch">
    <div class="staff-2 w-100">
     <div class="img-wrap d-flex align-items-stretch">
      <div class="img align-self-stretch d-flex align-items-end" style="background-image: url(https://img.freepik.com/free-photo/business-people-office_144627-37517.jpg?w=1380&t=st=1676354334~exp=1676354934~hmac=b1b7171e3ed1dc91bf48aa41bf04d9040a8353b08faadd4ca25419a2a26f28ab);">

  </div>
</div>
</div>
</div>
<div class="col-md-8 d-flex align-items-center">
  <div class="staff-detail w-100 pl-md-5">
   <h3 style="font-size: 30px;">Career Counselling</h3>
   <p>At Future Counselors, we understand that choosing the right career path can be overwhelming, but our expert career advisors are here to make the process easy and enjoyable for you.<br><br>We carefully analyze your student profile and provide personalized guidance to help you achieve your dream career. Our team of highly qualified advisors will help you navigate questions like "Which country is best for my studies?" and "Which course will set me on the path to success?" We'll also advise you on which universities are recognized and have a high placement record.<br><br>Let us be your trusted guide as you make important decisions about your future.</p>
 </div>
</div>
</div>
</div>
</section>

<section class="ftco-section bg-light">
  <div class="container">
   <div class="row">
    <div class="col-md-4 ftco-animate d-flex align-items-center align-items-stretch">
     <div class="staff-2 w-100">
      <div class="img-wrap d-flex align-items-stretch">
       <div class="img align-self-stretch d-flex align-items-end" style="background-image: url(https://img.freepik.com/free-photo/free-time-students-bachelor-s-campus-life-rhythm-five-friendly-students-are-walking_8353-6408.jpg?w=1380&t=st=1676106055~exp=1676106655~hmac=78a0420d7d8daa64cd2cfeb0438e3357c448100251c3b3947d9b7f02f76c9cea);">
 
   </div>
 </div>
 </div>
 </div>
 <div class="col-md-8 d-flex align-items-center">
   <div class="staff-detail w-100 pl-md-5">
    <h3 style="font-size: 30px;">Course, program, or university selection Advice</h3>
    <p>At our consulting firm, we know that studying abroad can be a daunting experience. That's why we're here to guide you through the process and ensure you make the best decision for your academic interests and requirements.<br><br>We understand that choosing the right course and university is crucial to your success, which is why we work tirelessly to find you the best options from around the world. Our goal is to make sure you're not just satisfied, but thrilled with your decision. Let us help you make your dreams a reality.</p>
  </div>
 </div>
 </div>
 </div>
 </section>

 <section class="ftco-section bg-light">
  <div class="container">
   <div class="row">
    <div class="col-md-4 ftco-animate d-flex align-items-center align-items-stretch">
     <div class="staff-2 w-100">
      <div class="img-wrap d-flex align-items-stretch">
       <div class="img align-self-stretch d-flex align-items-end" style="background-image: url(https://images.unsplash.com/photo-1562564055-71e051d33c19?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80);">
 
   </div>
 </div>
 </div>
 </div>
 <div class="col-md-8 d-flex align-items-center">
   <div class="staff-detail w-100 pl-md-5">
    <h3 style="font-size: 30px;">Admission Application Processing</h3>
    <p>Admission to top institutions can be a challenging process, but with Future Counselors by your side, you'll be equipped with the tools and expertise you need to stand out from the crowd. Our expert guidance will help you navigate the complex application process and understand the expectations of top universities.<br><br>We'll assist you in crafting a winning Statement of Purpose (SOP) that highlights your strengths and sets you apart from other applicants. Plus, we'll make sure all your documentation is in order, giving you the best chance of success. Trust us to help you make a strong impression and secure your spot at the institution of your dreams.</p>
  </div>
 </div>
 </div>
 </div>
 </section>

 <section class="ftco-section bg-light">
  <div class="container">
   <div class="row">
    <div class="col-md-4 ftco-animate d-flex align-items-center align-items-stretch">
     <div class="staff-2 w-100">
      <div class="img-wrap d-flex align-items-stretch">
       <div class="img align-self-stretch d-flex align-items-end" style="background-image: url(https://img.freepik.com/free-photo/medium-shot-graduate-student_23-2148950577.jpg?w=1380&t=st=1676354411~exp=1676355011~hmac=5d56318195d58e6cc1b8e848607dfdfc1530bdd304497b1a91dd4e323b1501b1);">
 
   </div>
 </div>
 </div>
 </div>
 <div class="col-md-8 d-flex align-items-center">
   <div class="staff-detail w-100 pl-md-5">
    <h3 style="font-size: 30px;">Financial Aid & Scholarship</h3>
    <p>At Future Counselors, we understand that financing your education abroad can be a daunting task. That's why our expert counselors stay up-to-date on the latest scholarship opportunities and can guide you on managing your finances. Whether you need assistance with personal finances or a bank loan, we'll help you find the most cost-effective and convenient way to fund your education. We have established partnerships with top financial institutions to ensure you get the best possible assistance.<br><br>We're proud to be one of the few educational consultants in India offering this valuable service to our students. Our past students have secured scholarships from top universities and even received national overseas scholarship schemes from the government of India. Let us help you achieve your academic dreams without the financial burden.</p>
  </div>
 </div>
 </div>
 </div>
 </section>

 <section class="ftco-section bg-light">
  <div class="container">
   <div class="row">
    <div class="col-md-4 ftco-animate d-flex align-items-center align-items-stretch">
     <div class="staff-2 w-100">
      <div class="img-wrap d-flex align-items-stretch">
       <div class="img align-self-stretch d-flex align-items-end" style="background-image: url(https://img.freepik.com/free-photo/closeup-candidate-signing-application-form_1262-16052.jpg?w=1380&t=st=1676106109~exp=1676106709~hmac=77d3bf5421ed656ece034097a983e3de6e9ccd93e27382f6051af12e63ee92e9);">
 
   </div>
 </div>
 </div>
 </div>
 <div class="col-md-8 d-flex align-items-center">
   <div class="staff-detail w-100 pl-md-5">
    <h3 style="font-size: 30px;">Applications</h3>
    <p>Applying for a traveling application is not always a straightforward process. Each individual is different and the standard rules on government advices changes accordingly. Future Counselors Education advisors are well versed with the application requirements of different countries and provide assistance regarding application. We break down the complex legislation surrounding the way that is easy for you to understand and act upon. Our fully trained and experience counselors take care of the bureaucracy for you and prepare you for interviews, if needed.</p>
  </div>
 </div>
 </div>
 </div>
 </section>

 <section class="ftco-section bg-light">
  <div class="container">
   <div class="row">
    <div class="col-md-4 ftco-animate d-flex align-items-center align-items-stretch">
     <div class="staff-2 w-100">
      <div class="img-wrap d-flex align-items-stretch">
       <div class="img align-self-stretch d-flex align-items-end" style="background-image: url(https://img.freepik.com/free-photo/business-executives-participating-business-meeting_107420-63844.jpg?w=1380&t=st=1676354469~exp=1676355069~hmac=f2c2fa4e0861804e8829d01ddd7716372e420403df73aa502e4e0ec007b975c3);">
 
   </div>
 </div>
 </div>
 </div>
 <div class="col-md-8 d-flex align-items-center">
   <div class="staff-detail w-100 pl-md-5">
    <h3 style="font-size: 30px;">Pre Departure Orientation</h3>
    <p>Pre-departure orientations are conducted to enable you to have a smooth departure to the destination and a comfortable assimilation on landing. Our trained and experienced counselors run a number of pre-departure briefing sessions with the aim of orientating you to your study destination.</p>
  </div>
 </div>
 </div>
 </div>
 </section>

 <section class="ftco-section bg-light">
  <div class="container">
   <div class="row">
    <div class="col-md-4 ftco-animate d-flex align-items-center align-items-stretch">
     <div class="staff-2 w-100">
      <div class="img-wrap d-flex align-items-stretch">
       <div class="img align-self-stretch d-flex align-items-end" style="background-image: url(https://img.freepik.com/free-photo/here-is-your-trip-destination-rear-view-beautiful-couple-looking-map-laptop-travel-agency-choosing-where-go-vacation_662251-2196.jpg?w=1380&t=st=1676354512~exp=1676355112~hmac=8d328df72d8214d389160e9e398ae297d00751811a41b7fce86610bf43644706);">
 
   </div>
 </div>
 </div>
 </div>
 <div class="col-md-8 d-flex align-items-center">
   <div class="staff-detail w-100 pl-md-5">
    <h3 style="font-size: 30px;">Travel & Forex Assistance</h3>
    <p>Future Counselors helps students to find the best possible way to reach the study destination at ease. We assist them with flight bookings, Insurance needs (if any). We also facilitate foreign exchange and remittance of fees etc.</p>
  </div>
 </div>
 </div>
 </div>
 </section>

 <section class="ftco-section bg-light">
  <div class="container">
   <div class="row">
    <div class="col-md-4 ftco-animate d-flex align-items-center align-items-stretch">
     <div class="staff-2 w-100">
      <div class="img-wrap d-flex align-items-stretch">
       <div class="img align-self-stretch d-flex align-items-end" style="background-image: url(https://img.freepik.com/free-photo/smiling-commuter-interacting-with-attendant-check-counter_107420-95794.jpg?w=1380&t=st=1676354559~exp=1676355159~hmac=7de3f84f00583b3f09e58568acdf98d06be66aadd3a9bb89cbb7c9a727523e94);">
 
   </div>
 </div>
 </div>
 </div>
 <div class="col-md-8 d-flex align-items-center">
   <div class="staff-detail w-100 pl-md-5">
    <h3 style="font-size: 30px;">Post Departure Assistance</h3>
    <p>Future Counselors offers post arrival assistance to the students in various universities across the world. Future Counselors assists airport pickups, temporary accommodation for the students in collaboration with respective universities.</p>
  </div>
 </div>
 </div>
 </div>
 </section>




 <section style="background: #F9FAFF;">
  <div class="heading-section ftco-animate text-center">
    <br>
    <span class="subheading text-blue">Our Company's University Partnerships</span>
    <h2 class="mb-4  text-dark">Our Partner Universities</h2>
  </div>
  <style>
    .carousel {
      overflow: hidden;
      width: 100%;
    }
    
    .carousel-container {
      display: flex;
      width: 400%; /* 4 images, each taking up 100% of the width */
      animation: scroll 20s infinite linear; /* scroll for 20 seconds and repeat infinitely */
      animation-delay: 2s; /* delay animation by 2 seconds for a more attractive effect */
    }
    
    .carousel-container img {
      height: 200px;
      width: 200px; /* each image takes up 1/4 of the container */
      margin-right: 20px; /* add space between the images */
      object-fit: cover; /* scale images to fit their containers */
      transition: transform 0.5s ease-out; /* add a smooth transition effect when images change */
    }
    
    .carousel-container img:last-of-type {
      margin-right: 0; /* remove right margin from last image */
    }
    .carousel-overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0; /* hide the overlay by default */
      background-color: rgba(0, 0, 0, 0.5); /* add a semi-transparent background */
      transition: opacity 0.5s ease-out; /* add a smooth transition effect */
    }
    .carousel:hover .carousel-overlay {
      opacity: 1; /* show the overlay when the mouse hovers over the carousel */
    }
    
    @keyframes scroll {
      0% {
        transform: translateX(0);
      }
      100% {
        transform: translateX(-10%); /* move container 3x the width of one image */
      }
    }
    
  </style>
  <script>
    const carousel = document.querySelector('.carousel');
const container = document.querySelector('.carousel-container');

carousel.addEventListener('mouseover', () => {
  container.style.animationPlayState = 'paused'; /* pause the animation */
});

carousel.addEventListener('mouseout', () => {
  container.style.animationPlayState = 'running'; /* resume the animation */
});
  </script>
  <div class="carousel ftco-animate">
    <div class="carousel-container">
      <img src="{% static 'images/unilogo/unilogo_1.png' %}" alt="" style="">
      <img src="{% static 'images/unilogo/unilogo_2.png' %}" alt="">
      <img src="{% static 'images/unilogo/unilogo_3.png' %}" alt="">
      <img src="{% static 'images/unilogo/unilogo_4.png' %}" alt="">
      <img src="{% static 'images/unilogo/unilogo_5.png' %}" alt="">
      <img src="{% static 'images/unilogo/unilogo_6.png' %}" alt="">
      <img src="{% static 'images/unilogo/unilogo_7.png' %}" alt="">
      <img src="{% static 'images/unilogo/unilogo_8.png' %}" alt="">
      <img src="{% static 'images/unilogo/unilogo_9.png' %}" alt="">
      <img src="{% static 'images/unilogo/unilogo_10.png' %}" alt="">
      <img src="{% static 'images/unilogo/unilogo_11.png' %}" alt="">
      <img src="{% static 'images/unilogo/unilogo_12.png' %}" alt="">
      <img src="{% static 'images/unilogo/unilogo_13.png' %}" alt="">
    </div>
  </div>
</section>

<section style=" margin-bottom: -48px; background: #F9FAFF;">
  <div class="container-fluid py-5" >
    <div class="col-md-12 heading-section text-center ftco-animate">
      <span class="subheading">Student Success Stories</span>
      <h2 class="mb-4">Our Success Stories on their Study Abroad Experience</h2>
   </div>
    <div class="row ftco-animate">
      <div class="col-sm-4 bg-primary text-light d-flex flex-column justify-content-center align-items-center" style="padding: 60px; height: 300px">
        <p>Join us on our adventures! Stay up-to-date with our latest videos by checking out our vlog section. Watch as we explore new places and share our experiences with you.</p>
        <a href="https://www.youtube.com/@futurecounselors_official" class="popup-button">Watch Now</a>
      </div>
      <div class="col-sm-4 bg-secondary text-light d-flex flex-column justify-content-center align-items-center " style="padding: 60px; height: 300px">
        <p>Check out our student testimonial section to hear real stories and experiences. See why they recommend us and choose to study with us again!</p>
        <a href="#video-testimonial" class="popup-button">Watch More</a>
      </div>
      <div class="col-sm-4 bg-info text-light d-flex flex-column justify-content-center align-items-center " style="padding: 60px; height: 300px">
        <p>Discover new ideas and inspiration on our blog! Explore our collection of articles on travel, lifestyle, and other topics that matter to you. Find tips and insights to help you live your best life.</p>
        <a href="{% url 'blog' %}" class="popup-button" style="">Read More</a>
      </div>
    </div>
  </div>
</section>





 {% include "footer.html" %}
 {% endblock body %}