{% extends "base.html" %}
{% load static %}
{% block head %}
  <title>Study in the USA | Future Counselors</title>
	<meta name="description" content="Discover the top universities and study programs in the USA with Future Counselors. Our experienced counselors provide personalized guidance and support to help you achieve your academic and career goals.">
	<meta name="keywords" content="study in the USA, USA universities, education overseas, Future Counselors, India">
	<link rel="canonical" href="https://www.futurecounselors.com/study-in-usa">
	<meta name="robots" content="index,follow">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
{% endblock head %}
{% block body %}
{% include "navbar.html" %}

 <section class="hero-wrap hero-wrap-2" style="background-image: url('https://i.ibb.co/nz9rh9j/statue-liberty-new-york-city-skyline-usa-1.jpg');">
  <div class="overlay"></div>
  <div class="container">
    <div class="row no-gutters slider-text align-items-end justify-content-center">
      <div class="col-md-9 ftco-animate pb-5 text-center">
       <p class="breadcrumbs"><span class="mr-2"><a href="{% url 'homepage' %}">Home <i class="fa fa-chevron-right"></i></a></span> <span>Study USA <i class="fa fa-chevron-right"></i></span></p>
       <h1 class="mb-0 bread">Study In USA</h1>
     </div>
   </div>
 </div>
</section>

<style>
  @import url(https://fonts.googleapis.com/css?family=Roboto:400,300,600,400italic);
#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea,
#contact button[type="submit"] {
font: 400 12px/16px "Roboto", Helvetica, Arial, sans-serif;
}

#contact {
background: #F9F9F9;
padding: 25px;
box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);

}

#contact h3 {
display: block;
font-size: 30px;
font-weight: 300;
margin-bottom: 10px;
}

#contact h4 {
margin: 5px 0 15px;
display: block;
font-size: 13px;
font-weight: 400;
}

fieldset {
border: medium none !important;
margin: 0 0 10px;
min-width: 100%;
padding: 0;
width: 100%;
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea {
width: 100%;
border: 1px solid #ccc;
background: #FFF;
margin: 0 0 5px;
padding: 10px;
}

#contact input[type="text"]:hover,
#contact input[type="email"]:hover,
#contact input[type="tel"]:hover,
#contact input[type="url"]:hover,
#contact textarea:hover {
-webkit-transition: border-color 0.3s ease-in-out;
-moz-transition: border-color 0.3s ease-in-out;
transition: border-color 0.3s ease-in-out;
border: 1px solid #aaa;
}

#contact textarea {
height: 100px;
max-width: 100%;
resize: none;
}

#contact button[type="submit"] {
cursor: pointer;
width: 100%;
border: none;
background: #E449AD;
color: #FFF;
margin: 0 0 5px;
padding: 10px;
font-size: 15px;
border-radius: 20px;
}

#contact button[type="submit"]:hover {
background: #bf2e8c;
-webkit-transition: background 0.3s ease-in-out;
-moz-transition: background 0.3s ease-in-out;
transition: background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active {
box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

.copyright {
text-align: center;
}

#contact input:focus,
#contact textarea:focus {
outline: 0;
border: 1px solid #aaa;
}

::-webkit-input-placeholder {
color: #888;
}

:-moz-placeholder {
color: #888;
}

::-moz-placeholder {
color: #888;
}

:-ms-input-placeholder {
color: #888;
}
</style>


<section class="ftco-section ftco-no-pt ftco-no-pb">
  <div class="container" style="max-width: 1400px;">
    <div class="row">
      <div class="col-lg-8 ftco-animate py-md-5 mt-md-5">
        <h2 class="mb-3" style="font-size: 40px; font-weight: bold;" >Why Study in USA ?</h2>
        <p>The United States of America boasts over 4500 top-tier educational institutions offering undergraduate, postgraduate, and doctorate degrees, making it an educational hub that entices many Indian students to pursue their academic aspirations there. The quality education, cutting-edge technology, work opportunities, excellent funding options, and flexible curriculum are some of the many reasons why studying in the USA remains a highly attractive prospect for Indian students. The USA provides a mind-boggling range of universities that offer highly sophisticated and enlightening educational environments, which yields phenomenally higher returns on a student's investment, making it the best investment for their future.</p><br>
        <p>Furthermore, the institutions in the USA provide a wide spectrum of tuition fees, accommodation options, and financial aid in the form of scholarships, fee waivers, and other assistance, making studying in the USA affordable. As pioneers in technology, research, and innovative techniques, the USA takes pride in making the best possible equipment and resources available to students to ensure they receive the best education possible.</p>
        <p style="display: flex; justify-content: center;">
          <img src="https://img.freepik.com/free-photo/medium-shot-girl-studying-with-laptop_23-2148389058.jpg?w=1380&t=st=1676306842~exp=1676307442~hmac=ee2534fc7c3f4f8740e3118a92ff3143baa35275886275ba8a994b721b4bf48d" alt="" width=500 class="img-fluid">
        </p>
        

    
          <!-- END comment-list -->

          
        

      </div> <!-- .col-md-8 -->



      <div class="col-lg-4 ftco-animate py-md-5 mt-md-5">
        <div class="container">  
          {% include 'registerform.html' %}
        </div>
      </div>
    </div>
  </div>
</section> <!-- .section -->



<h2 class="mt-3" style="font-size: 40px; font-weight: bold; display: flex; justify-content: center;" >Top Courses</h2>

<div class="container">

  <!--Grid row-->
  <div class="row" style="text-align: center;">
    <!--Grid column-->
    <div class="col-lg-3 col-md-12 mb-4 font-weight-bold">
    <img src="{% static 'images/icons/usa/6.png' %}" alt="" height="250px"><br>
    </div>
    <!--Grid column-->

    <!--Grid column-->
    <div class="col-lg-3 col-md-6 mb-4">
    <img src="{% static 'images/icons/usa/7.png' %}" alt="" height="250px"><br>
    </div>
    <!--Grid column-->
    <!--Grid column-->
    <div class="col-lg-3 col-md-6 mb-4">
    <img src="{% static 'images/icons/usa/8.png' %}" alt="" height="250px"><br>
    </div>
    <!--Grid column-->

    <!--Grid column-->
    <div class="col-lg-3 col-md-6 mb-4">
    <img src="{% static 'images/icons/usa/9.png' %}" alt="" height="250px"><br>
    </div>
    <!--Grid column-->
    
  </div>
  <!--Grid row-->

</div>
<div style="display: flex; justify-content: center;">
  <a href="#applicationform" type="submit" class="popup-button" style="width: 150px; background-color: #727FE9; color: white; ">Apply Now</a>
</div>

<br>
<br>
<section class="container" style="max-width: 1000px">
  <style>
    
    .video-container {
      position: relative;
      width: 100%;
      height: 0;
      padding-bottom: 56.25%; /* 16:9 aspect ratio */
      overflow: hidden;
    }
    
    .video-container video {
      position: absolute;
      top: 0;
      left: 0;
      border-radius: 50px;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    
    .video-container .overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      {% comment %} background-color: rgba(0, 0, 0, 0.4); {% endcomment %}
    }
    
    .video-container .play-button {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 80px;
      height: 80px;
      background-color: rgba(0, 0, 0, 0.4);
      border: none;
      border-radius: 50%;
      cursor: pointer;
      transition: all 0.3s ease-in-out;
    }
    .video-container .play-button.hidden {
      display: none;
    }
    
    .video-container .play-button::before {
      content: "";
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 20px 0 20px 40px;
      border-color: transparent transparent transparent white;
    }
    
    .video-container .play-button:hover {
      transform: translate(-50%, -50%) scale(1.2);
    }
    
    .video-container .text {
      position: absolute;
      bottom: 10%;
      left: 50%;
      transform: translateX(-50%);
      color: white;
      font-size: 24px;
      font-weight: bold;
      letter-spacing: 2px;
      text-align: center;
      opacity: 0;
      transition: all 0.3s ease-in-out;
    }
    
    .video-container:hover .play-button {
      transform: translate(-50%, -50%) scale(1.5);
    }
    
    .video-container:hover .text {
      opacity: 1;
    }
    
    
  </style>
  <div class="video-container">
    <video src="{% static 'video/country/usa.mp4' %}"  loop muted></video>
    <div class="overlay"></div>
    <div class="play-button"></div>
  </div>
  <script>

    const video = document.querySelector('video');
    const playButton = document.querySelector('.play-button');
    
    playButton.addEventListener('click', function() {
      if (video.paused) {
        video.play();
        playButton.classList.add('paused');
      } else {
        video.pause();
        playButton.classList.remove('paused');
      }
    });
    
    video.addEventListener('click', function() {
      if (video.paused) {
        video.play();
        playButton.classList.add('paused');
      } else {
        video.pause();
        playButton.classList.remove('paused');
      }
    });
    
    video.addEventListener('ended', function() {
      playButton.classList.remove('paused');
    });
    
    video.addEventListener('play', function() {
      playButton.classList.add('hidden');
    });
    
    video.addEventListener('pause', function() {
      playButton.classList.remove('hidden');
    });
    

  </script>
</section>

<div  id="applicationform">
  <br>
  <br>
</div>
<section class="intro mt-4">
  <div class="bg-image-vertical h-100">
    <div class="mask d-flex align-items-center h-100">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-12 col-lg-10">
            <div class="card" style="border-radius: 1rem;">
              <div class="card-body p-5">

                <h1 class="mb-5 text-center font-weight-bold">Hey, we’d like to know you better too!</h1>

                {% include 'mainregistration.html' %}

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<br>

      <div class="container ftco-animate py-md-5 mt-md-5">
        <h2 class="mb-3" style="font-size: 40px; font-weight: bold;" >Career Opportunities in USA</h2>
        <p>The United States of America is renowned as one of the world's strongest economies, with many highly paid occupational groups, such as white-collar professionals, including managers, physicians, mathematicians, financial managers, software publishers, and computer engineers, among others. The USA has also been at the forefront of telecoms, medicine, health care, and genetics, making it an attractive destination for Indian students to pursue their education. Studying in the USA also includes on-campus job opportunities, allowing students to work 20 hours per week during the semester, with roles such as teaching or research assistantship that pays an average of $8 to $10 per hour. This means that a student can earn approximately $500 to $600 per month, which can be used to offset tuition fees or other expenses.</p><br>
        <p>Additionally, students can undertake internships in related fields, which may be paid, during their academic program. During vacation, students can work for 40 hours per week, giving them more opportunities to gain work experience and earn money. After graduation, students from India who study in the USA can work for one year under OPT (Optional Practical Training), while those with degrees in the STEM field are allowed to work for up to 36 months. Upon completion of OPT, students can apply for an H1-B visa (Work Permit Visa) to continue working in the USA.</p>
      </div>
      <div style="display: flex; justify-content: center;">
        <a href="#applicationform" type="submit" class="popup-button" style="width: 150px; background-color: #727FE9; color: white; ">Apply Now</a>
</div>

<br>
<br>

<section class="container" style="max-width: 800px">
  <section class="image-section">
    <div class="image-container">
      <img src="{% static 'images/contry_flow/flow_usa.jpg' %}" alt="Your Image">
    </div>
  </section>
  
  <style>
  .image-section {
    position: relative;
    height: 100vh;

  }
  
  .image-container {
    position: relative;
    height: 100%;
    overflow: hidden;
  }
  
  .image-container img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: fill;
    border-radius: 40px;
  }

  
  @media (max-width: 768px) {
    .image-section {
      height: 50vh;
    }
  }
  </style>
  
</section>
<br>
<br>

            <div class="container ftco-animate mt-md-5">
        <h2 class="mb-3" style="font-size: 40px; font-weight: bold;" >Education Cost in UK</h2>
        <p>The USA stands as one of the largest educational hubs in the world, with a high number of international students seeking undergraduate, postgraduate, and research degrees. The country's unique climate, culture, history, and economy, combined with its diverse and broad-ranging universities, make studying in the USA an attractive prospect. Universities in the USA can be broadly classified as Public or Private. Public universities are state-affiliated institutions that receive financial support from public taxes, tend to be large in size and offer degrees across many different fields of study. Tuition fees are usually less than those of private institutions, making them a more affordable option for many students. Examples of public universities include Pennsylvania State University, Ohio State University, University of California, Kansas State University, University of Texas, among others.</p><br>
        <p>Private universities, on the other hand, operate independently of government entities and have much higher tuition fees than public universities. Examples of private universities include Long Island University, George Washington University, New York University, Carnegie Mellon University, among others. Regardless of the type of university a student chooses to study in, they can expect to receive a world-class education and a life-changing experience.</p>
        <h5 class="mb-3" style="font-size: 30px; font-weight: bold;" >USA (Public)</h5>
        <section class="container" style=" max-width: 1200px;">
                    <table class="table table-striped" style="margin: auto; text-align: center;">
                        <thead>
                            <tr class="table-primary">
                              <th scope="col">Type</th>
                              <th scope="col">Tuition Fees (Per Year)</th>
                            </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <th scope="row">UG</th>
                            <td>15,000 to 20,000</td>
                          </tr>
                          <tr>
                            <th scope="row">PG</th>
                            <td>15,000 to 20,000</td>
                          </tr>
                        </tbody>
                      </table>
                </section>

                <h5 class="mb-3" style="font-size: 30px; font-weight: bold;" >USA (Private)</h5>
        <section class="container" style=" max-width: 1200px;">
                    <table class="table table-striped" style="margin: auto; text-align: center;">
                        <thead>
                            <tr class="table-primary">
                              <th scope="col">Type</th>
                              <th scope="col">Tuition Fees (Per Year)</th>
                            </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <th scope="row">UG</th>
                            <td>20,000 to 30,000</td>
                          </tr>
                          <tr>
                            <th scope="row">PG</th>
                            <td>20,000 to 35,000</td>
                          </tr>
                        </tbody>
                      </table>
                </section>
                <div style="display: flex; justify-content: center;">
                  <a href="#applicationform" type="submit" class="popup-button" style="width: 150px; background-color: #727FE9; color: white; ">Apply Now</a>
</div>

                      <div class="container ftco-animate py-md-5 mt-md-5">
        <h2 class="mb-3" style="font-size: 40px; font-weight: bold;" >USA Student VISA</h2>
        <p>Getting admission to a top-ranking US university is only half the journey towards studying in the USA. The other crucial part is obtaining a study visa, which requires careful attention to detail and sufficient knowledge about the visa application process. Mistakes and oversights in visa formalities can result in unwanted delays or even a visa refusal. For Indian students seeking higher education in the USA, an F1 visa is issued for attending an academic program or English Language Program at a US college or university. F1 students are expected to complete their studies by the expiration date on their 1-20 form, which is provided by the US college or university.</p><br>
        <p>The US Embassy in India has implemented a new visa processing system throughout India that simplifies fee payment and appointment scheduling via the website www.ustraveldocs.com/in. The US visa application process is an interview-based process, and applicants must apply to the US embassy for their interview. The process involves obtaining a 1-20 form from the university or college, obtaining a SEVIS FEE receipt, completing the DS-160 form, paying visa application fees, scheduling an appointment, attending the scheduled appointment, and collecting the passport if the visa is granted. By following the visa application process correctly, Indian students can fulfill their dream of studying in the USA.</p>
      </div>
      <div style="display: flex; justify-content: center;">
        <a href="#applicationform" type="submit" class="popup-button" style="width: 150px; background-color: #727FE9; color: white; ">Apply Now</a>
</div><br><br>

      </div> 

      <br>
      <div class="container " style="text-align: center">
      <a href="{% static 'pdf/Document Checklist - USA.pdf' %}" class="popup-button" style="width:100%; background-color: #727FE9; color: white; " download>Learn more? See Imp Checklist for Application</a>
      </div>
      <br>
{% include "footer.html" %}
{% endblock body %}